<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block t %}{% endblock %} &middot; MoneyMaster</title>
    <link rel="stylesheet" href="https://nispar2009.github.io/spectrum_stylr/Retro/Spectrum.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://nispar2009.github.io/spectrum_stylr/Spectrum.js"></script>
</head>

<body>
    <div class="nav-desktop">
        <a class="nav-desktop-item nav-desktop-link nav-desktop-brand" href="/">Home</a>
        <a class="nav-desktop-item nav-desktop-link" href="/msg">Messages</a>
        <a class="nav-desktop-item nav-desktop-link" href="http://127.0.0.1:5002">BoxBuddy</a>
    </div>
    {% block b %}{% endblock %}
    <footer class="footer">
        &copy; 2023 <a href="http://127.0.0.1:5000" class="footer-link">CashCo</a>
    </footer>
</body>

</html>